*.sw*
*.un*
*~
*.pyc
*.pyo
*.o
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*DS_Store/
*.rej
bin/
develop-eggs/
dist/
downloads/
eggs/
parts/
*.egg-info/
build/
*.sqlite
*.mo
*project
*classpath
lib/
logs/
*installed.cfg
venv
